    html, body {
  height: 100%;
  width: 100%;
}@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #273036;
    font-family: Montserrat, sans-serif;
}

/* Всё что связано с текстом */
a,
p {
    text-decoration: none;
    color: #273036;
}

h3,
h4,
    {
    font-size: 20px;
    line-height: 20px;
    padding-top: 0px;
}

h1 {
    color: black;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 13px;
    color: #273036;
}

p {
    font-size: 16px;
    line-height: 21px;
}

/* Всё что связано с текстом */


/* Навыки */
.skills {
    background-color: transparent;
    text-align: left;
    padding-top: 15px;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    border: 1px solid #273036;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
    transition: all .3s;
}

.skills ul li:hover {
    border: 1px solid white;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
    background-color: #273036;
    color: white;
}

/* Навыки */


/* Карточка */
.card {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    width: 350px;
    padding: 50px;
    border-radius: 10px;
 
  

}

.content {
    padding: 0 15px 0 25px;
    color: #273036;
}

.up {
    display: flex;
    justify-content: space-between;
}

.avatar_card {

  font-size: 50px;
  max-width: 110px;
  border: solid white;
  border-radius: 70px;
}


.button {
  display:flex;
  
 background-color: #5865F2;
 color: #ffffff;
 border-radius: 10px;
 padding: 9px 150px; 
 margin-top: 10px;
 margin: 5px;
 font-size: 10px;
 text-decoration: none;
 font-family: 'Montserrat', sans-serif;
justify-content:center;
align-items:center;

transition: 0.25s;
}

.button:hover {
background-color: #404cb3;
}



.buttonpay:hover {
background-color: #F7BA5F;
}

